body {
    margin: 0;
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-top: 1%;
}

/* White Stars in the background, randomly generated */
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}
/* Button to start the initial fetch */
#pressHello {
    width: 240px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    font-weight: 500;
}

.descriptionDiv {
    background-color: rgb(20,20,20);
    overflow: hidden;
    font-family: 'Roboto';
    position: relative;
}

.descriptionDiv::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}

.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
}

/* Movie opening text */
p {
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 60s linear forwards;
}
/* Animation */
@keyframes scroll {
	from { top: 0; transform: translateZ(0) rotateX(20deg); }
	to { top: -7500px; transform: translateZ(-2500px) rotateX(21deg); }
}

/* Hide Content to make the collapsable feature */
.content-hidden {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.movie-title-text {
   font-size: 16px;
   font-weight: 500;
   margin-right: 50px;
}

.movie-title-list-item {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Starship Info Button */
.ssButton {
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    font-size: 12px;
    margin-top: 20px;
}

